@{
    ViewData["Title"] = "Projects Editor";
}
<style>
    input {
        display: block;
    }
    label {
        padding: 0px;
        margin: 8px 0px 0px 0px;
    }
    textarea {
        display: block;
    }
    select {
        display: block;
    }
</style>

<br>
<div>
    @{
        if (Model != null && !String.IsNullOrEmpty(Model.User))
        {
            <form method="post" name="project" asp-controller="Home" asp-action="ProjectsEditor">

                <span style="margin: 8px 0px 0px 0px;">Project Code</span>
                <br><b>@Model.tempProject</b><br>

                <label for="name">Project Name</label>
                <input type="text" id="name" name="name" autocomplete="off" value="@Model.Project.Name">

                <label for="budget">Time Budget [minutes]</label>
                <input type="number" id="budget" name="budget" autocomplete="off" value=@Model.Project.Budget required min="1">

                <!---<span style="margin: 8px 0px 0px 0px;">Subactivities</span> --->
                <!--- <br><b>@Model.tempSubs</b><br> --->

                <input type="submit" name="ok" value="Edit project">
            </form>
        }
        else
        {
            <p><i>Only logged users can edit!</i></p>
        }
    }
</div>

<br>
<a asp-area="" asp-controller="Home" asp-action="ProjectsView">Go back</a>
