@{
    ViewData["Title"] = "Activities Creator";
}
<style>
    input {
        display: block;
        padding-bottom: 4px;
    }
    label {
        padding: 0px
    }
    textarea {
        display: block;
    }
</style>


<p>Here you will be able to create new activities.</p>

<br>
<div>
    @{
        if (Model != null && !String.IsNullOrEmpty(Model.User))
        {
            <form method="post" name="project" asp-controller="Home" asp-action="ActivityCreate">

                <label for="code">Activity Code<br></label>
                <input type="text" id="code" name="code" required>
                <label for="name">Activity Name<br></label>
                <input type="text" id="name" name="name" required>
                <label for="budget">Time Budget [minutes]<br></label>
                <input type="text" id="budget" name="budget" required min="1">
                <label for="subcategories">Subactivities<br></label>
                <textarea id="subcategories" name="project" rows="8" cols="32" placeholder="Enter subcategories separated by new lines."></textarea>
                <br>
                <input type="submit" name="ok" value="Create activity">
            </form>
        }
        else
        {
            <p><i>Only logged users can create new activities!</i></p>
        }
    }
</div>

<br>
<a href="/Home/">Go Back</a>
