@{
    ViewData["Title"] = "Activities Creator";
}

<style>
    input {
        display: block;
        padding-bottom: 4px;
    }
    label {
        padding: 0px
        margin: 8px 0px 0px 0px;
    }
    textarea {
        display: block;
    }
</style>

<p>Here you will be able to create new activities.</p>
<br>

<div class="text-center">
    @{
        if (Model != null && !String.IsNullOrEmpty(Model.User))
        {
            <form method="post" name="project" asp-controller="Home" asp-action="ActivityCreate">
                <label for="code">Activity Code</label>
                <input type="text" id="code" name="code" autocomplete="off" required>

                <label for="name">Activity Name</label>
                <input type="text" id="name" name="name" autocomplete="off" required>

                <label for="budget">Time Budget [minutes]</label>
                <input type="text" id="budget" name="budget" autocomplete="off" required min="1">

                <label for="subcategories">Subactivities</label>
                <textarea id="subcategories" name="project" rows="8" cols="32" placeholder="Enter subcategories separated by new lines."></textarea>
                
                <input type="submit" name="ok" value="Create activity">
            </form>
        }
        else
        {
            <p><i>Only logged users can create new activities!</i></p>
        }
    }
</div>

<br>
<a asp-area="" asp-controller="Home" asp-action="Index">Go back</a>
