@{
    ViewData["Title"] = "NTR - Home";
}

<div class="text-center">
    <h1>Welcome to NTR</h1>
    @{
        if (Model != null && !String.IsNullOrEmpty(Model.User)) {
            <p>You are logged as @Model.User.</p>
        } else {
            <p>You are not logged. <a href="/Home/UserView">Click here to choose user profile</a>.</p>
        }
    }
</div>

<form method="post">
    <input type="submit" name="logout" value="Log Out">
</form>

<div class="text-center">
    @{
        if (Model != null && !String.IsNullOrEmpty(Model.User)) {
            <h2>Your current activities</h2>
            <a href="/Home/UserActivitiesView">Click here to view your activities.</a>
        }
        <h2>All activities</h2>
        <a href="/Home/ActivitiesView">Click here to view all activities.</a>
    }
</div>
