@{
    ViewData["Title"] = "Choose User";
}

<p>
    Choose your user profile from this list to log in:
    <form method="post">
        <select name="user" asp-items="Model.GetUserList"></select>
        <input type="submit" name="type" value="Select user">
    </form>
    <br>
    Don't have an account? Type your name below to create one:
    <form method="post">
        <input type="text" name="user" required>
        <input type="submit" name="type" value="Create user">
    </form>
    @{
        if (Model != null && Model.UsernameError == "taken") {
            <p><i>User already exists! Choose a different name or log in.</i></p>
        }
        else if (Model != null && Model.UsernameError == "maxlength") {
            <p><i>Enter a name consisting of less than 48 characters.</i></p>
        }
    }
</p>

<br>
<a href="/Home/">Go Back</a>
